<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fun Game Thing</title>
        <link rel="stylesheet" href="../css/main.css" type="text/css" />
        <link rel="stylesheet" href="../css/game.css" type="text/css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <div id="col-main">
                <div id="game">
                    <div id="gui">
                        <div id="show-chat-btn" class="gui-btn">Show Chat</div>
                        <div id="show-inventory-btn" class="gui-btn">Show Inventory</div>
                    </div>
                    <div id="chat-cont">
                        <div id="chat">
                            <div id="chat-message-cont">
                                <template v-for="message in messages">
                                    <div v-if="message.type === 'private'" class="chat-message chat-message-private">{{message.name}} to {{message.recipient}}: {{message.msg}}</div>
                                    <div v-else-if="message.type === 'info'" class="chat-message chat-message-info">{{message.msg}}</div>
                                    <div v-else class="chat-message">{{message.name}}: {{message.msg}}</div>
                                </template>
                            </div>
                            <form id="chat-form" autocomplete="off"><!--
                                -->&gt; <input id="chat-input" type="text" name="message" placeholder="Press 'T' to chat" /><input id="chat-submit" type="submit" value="Send" />
                            </form>
                        </div>
                    </div>
                    <div id="inventory-cont">
                        <div id="inventory">
                            <h3 class="inventory-head">Inventory</h3>
                            <div v-for="item in items" class="inventory-item">{{item.type}}</div>
                        </div>
                    </div>
                    <canvas id="viewport" width="800" height="600">
                        <p class="no-support-msg">Your browser doesn't seem to support the canvas API. Please try a different browser.</p>
                    </canvas>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="../js/vendor/socket.io.js"></script>
        <script type="text/javascript" src="../js/dist/game.js"></script>
    </body>
</html>
