<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fun Game Thing</title>
        <link rel="stylesheet" href="../css/main.css" type="text/css" />
    </head>
    <body>
        <div id="app">
            <div id="col-main">
                <header>
                    <h1 id="head-main">Fun Game Thing</h1>
                    <div id="menu-bar">
                        
                        <div id="menu-choices">
                            <a href="/login" class="menu-choice">Login / Sign Up</a>
                            <a href="/about" class="menu-choice">About</a>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        
        <script type="text/javascript" src="../js/dist/index.js"></script>
    </body>
</html>
