@keyframes showChat {
    from {
        display: table;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showInventory {}

body {
    margin: 0;
    overflow: hidden;
}

#game {
    display: inline-block;
    /*border: 1px solid #333;*/
    /*height: 600px;*/
    -webkit-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.75);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#gui {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.gui-btn {
    position: absolute;
    background-color: gray;
    color: white;
    pointer-events: auto;
    cursor: pointer;
}

#show-chat-btn {
    left: 8px;
    top: 8px;
}

#show-inventory-btn {
    text-align: right;
    right: 8px;
    top: 8px;
}

#chat-cont {
    display: none;
    position: absolute;
    top: 50vh;
    opacity: 0;
    float: left;
    height: 50vh;
    color: #000;
}

#chat-cont.showing {
    animation: showChat 1s 1;
    display: table;
    opacity: 1;
    pointer-events: none;
}

#chat {
    display: table-cell;
    vertical-align: bottom;
    padding: 4px 0 0 4px;
    text-align: left;
    color: #ddd;
    background: rgb(71,71,71);
    background: -moz-linear-gradient(top, rgba(71,71,71,0) 0%, rgba(41,41,41,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,71,71,0)), color-stop(100%, rgba(41,41,41,1)));
    background: -webkit-linear-gradient(top, rgba(71,71,71,0) 0%, rgba(41,41,41,1) 100%);
    background: -o-linear-gradient(top, rgba(71,71,71,0) 0%, rgba(41,41,41,1) 100%);
    background: -ms-linear-gradient(top, rgba(71,71,71,0) 0%, rgba(41,41,41,1) 100%);
    background: linear-gradient(to bottom, rgba(71,71,71,0) 0%, rgba(41,41,41,1) 100%);
}

#chat-input {
    display: inline-block;
    border: 0;
    color: inherit;
    background-color: inherit;
}

#chat-input:focus {
    outline: none;
}

#viewport {
    display: inline-block;
    background-color: #ddd;
}

#inventory-cont {
    display: none;
    position: absolute;
    opacity: 0;
    background-color: #eee;
    color: #000;
    text-align: left;
}

#inventory-cont.showing {
    animation: showInventory 1s 1;
    display: inline-table;
}

#inventory {
    display: table-cell;
    vertical-align: bottom;
    padding: 4px 0 0 4px;
    height: 596px;
}

.inventory-item {
    display: inline-block;
}
